h1{color:lime;}
h2{color:lime;}
h3{color:cyan;}
h4{color:mediumblue;}
h5{color:fuchsia;}
h6{color:fuchsia;}
body{font-size:large;}
body{background-color: black;}
p{color:rgb(247, 43, 43);}
marquee{color:midnightblue;}
